<section id="about">
  <!-- <h2>About</h2> -->
  <hr>

  <table>
    <thead>
      <tr>
        <th>Icon</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><i class="far fa-address-card fa-4x"></i></td>
        <td>
          <p>Hello, my name is Moeen and I am a full stack developer. </p>
          <p>I have worked in the software industry as a Software Developer for the past 5 years.</p>
        </td>
      </tr>
      <tr>
        <td><i class="far fa-building fa-4x"></i></td>
        <td>
          <p>As a client support engineer, I have gained immense skill in reading code, debugging complex architectures and understanding custom code.</p>
          <p>Working as a full stack developer has helped me gain the skills to write clean code and create applications in a variety of technologies and frameworks.</p>
        </td>
      </tr>
      <tr>
        <td><i class="fas fa-tasks fa-4x"></i></td>
        <td><p>I have a few of my projects up on display, so feel free to browse below!</p></td>
      </tr>
    </tbody>
  </table>

  <hr>

  <a class="nextsection" href="#experience"><i class="fas fa-angle-double-down fa-7x"></i></a>

</section>