<section id="experience">
  <h2>Experience</h2>
  <hr>

  <div class="jobs">
    <div class="job">
      <img src="/images/jana.png" alt="janalogo">
      <hr class="divide">
      <div class="jobinfo">
        <p class="jobtitle">Intermediate Full Stack Developer</p>
        <p class="jobdescription">Working with a variety of frameworks and technology in the Gas Pipeline Industry</p>
        <ul>
          <li>C#</li>
          <li>ASP .NET</li>
          <li>JavaScript</li>
          <li>React</li>
          <li>Android</li>
          <li>SQL Server</li>
          <li>MongoDB</li>
        </ul>
      </div>
    </div>

    <div class="job">
      <div class="jobinfo">
        <p class="jobtitle">WebSphere Commerce Technical Analyst</p>
        <p class="jobdescription">Responsible for resolving complex technical issues on relating to performance tuning,
          installation architecture, deployment and runtime</p>
        <ul>
          <li>Java</li>
          <li>Docker</li>
          <li>WAS</li>
          <li>DB2</li>
          <li>SOLR</li>
        </ul>
      </div>
      <hr class="divide">
      <img src="/images/ibmlogo.png" alt="ibmlogo">
    </div>
  </div>

  <a class="nextsection" href="#projects"><i class="fas fa-angle-double-down fa-7x"></i></a>

</section>