<section id="intro">
  <div class="background-image"></div>
  <div id="terminal">
    <p id="helloworld">>$ </p>
    <p id="output"></p>
    <div id="icons">
      <a target="_blank" href="https://www.linkedin.com/in/moeenqaisar-mamaparo/"><i id="linkedin" class="fab fa-linkedin fa-2x"></i></a>
      <a target="_blank" href="https://github.com/mamapam"><i id="github" class="fab fa-github-square fa-2x"></i></a>
      <a target="_blank" href="mailto:m.mamaparo@gmail.com"><i class="fas fa-at fa-2x"></i></a>
    </div>
  </div>
  <a class="nextsection" href="#about"><i class="fas fa-angle-double-down fa-7x"></i></a>
</section>