<section id="projects">
  <div class="title">
    <p>PROJECTS</p>
    <a target="_blank" href="https://github.com/mamapam"><i class="fab fa-github-square fa-2x"></i></a>
  </div>
  <h2>Here's a few of my projects... Find the full list on Github!</h2>
  <div class="projectlist">


    <div class="project">
      <div class="projecttitle">
        <p>Yelp Camp</p>
        <div>
          <a target="_blank" href="https://github.com/mamapam/YelpCampMoe"><i class="fab fa-github fa-2x"></i></a>
          <a target="_blank" href="http://polar-sierra-17570.herokuapp.com/"><i class="fas fa-link fa-2x"></i></a>
        </div>
      </div>
      <div class="projectimg">
        <img src="/images/yelpcamp.png" alt="yelpcamp">
      </div>
    </div>


    <div class="project">
      <div class="projecttitle">
        <p>Burger Builder</p>
        <div>
          <a target="_blank" href=""><i class="fab fa-github fa-2x"></i></a>
          <a target="_blank" href=""><i class="fas fa-link fa-2x"></i></a>
        </div>
      </div>
      <div class="projectimg">
        <img src="/images/burger-logo.png" alt="burger">
      </div>
    </div>


    <div class="project">
      <div class="projecttitle">
        <p>Quran App</p>
        <div>
          <a target="_blank" href="https://github.com/mamapam/QuranDuas"><i class="fab fa-github fa-2x"></i></a>
          <a target="_blank" href="https://secure-shelf-17153.herokuapp.com/home"><i class="fas fa-link fa-2x"></i></a>
        </div>
      </div>
      <div class="projectimg">
        <img src="/images/quranapp.png" alt="quranapp">
      </div>
    </div>


    <div class="project">
      <div class="projecttitle">
        <p>Disease Database</p>
        <div>
          <a target="_blank" href=""><i class="fab fa-github fa-2x"></i></a>
          <a target="_blank" href=""><i class="fas fa-link fa-2x"></i></a>
        </div>
      </div>
      <div class="projectimg">
        <img src="/images/disease.jpg" alt="diseaseapp">
      </div>
    </div>


    <div class="project">
      <div class="projecttitle">
        <p>Android Minesweeper</p>
        <div>
          <a target="_blank" href=""><i class="fab fa-github fa-2x"></i></a>
          <a target="_blank" href=""><i class="fas fa-link fa-2x"></i></a>
        </div>
      </div>
      <div class="projectimg">
        <i class="fas fa-bullseye fa-7x" style="display: flex; align-items: center; justify-content: center; opacity: 1; color: red;"></i>
      </div>
    </div>


    <div class="project">
      <div class="projecttitle">
        <p>Money Manager</p>
        <div>
          <a target="_blank" href=""><i class="fab fa-github fa-2x"></i></a>
          <a target="_blank" href=""><i class="fas fa-link fa-2x"></i></a>
        </div>
      </div>
      <div class="projectimg">
        <img src="/images/money.jpg" alt="moneymanager">
      </div>
    </div>

    
  </div>
</section>
